html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    font-family: 'Cardo', serif;
}

h1 {
    font-size: 8em;
    /* font-family: 'Cardo', serif; */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;

    margin-bottom: 0;
}

h4 {
    font-size: 1em;
    /* font-family: 'Cardo', serif; */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;

    margin-top: 0;
}










.animated {
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
 
@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
}
 
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}
 
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
} 

