html 
{
    /* NeXT */
    /* background-color: rgb(85, 86, 116); */
    
    /* Windows 2000 */
    /* background-color: rgb(68, 111, 162); */
}

h1 
{
    font-size: 2em;
    /* font-family: 'Hind', sans-serif; */
    font-family: 'Climate Crisis', cursive;
    /* font-family: 'Cormorant Garamond', serif; */
    font-weight: 700;
    color: #202020;

    margin-bottom: 0;
}

h4 
{
    /* font-size: 20px; */
    /* font-family: 'Cardo', serif; */
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;

    margin-top: 0;
}

#everything
{
    max-width: 500px;
}

.tp_box
{
    margin-bottom: 20px;
}

.tp_bordered
{
    border-color: #202020;

    border: 1px solid;
    border-radius: 0px;

    /* 
    border: 1px transparent;
    border-radius: 15px; 
    */
}

.tp_shadow
{
    /* box-shadow: 0px 0px 15px #202020; */
    box-shadow: 2px 2px #202020;
}


#tp_start
{
    background-image: url("./img/tobi.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255,.3);
    background-blend-mode: lighten;

    margin-top: 20px;
    aspect-ratio: 1 / 1;

    padding: 15px;
    display: flex;
}

#tp_start_text h1
{
    /* text-shadow: 2px 2px black; */
}

#tp_logo
{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

#tp_logo img
{
    /* box-shadow: 0px 0px 8px 1px #202020; */
    box-shadow: 2px 2px #202020;
}

#tp_logo img:hover
{
    box-shadow:
        0 0 40px 10px white,
        0 0 60px 20px magenta,
        0 0 80px 30px cyan;
}

#tp_start_text
{
    align-self: flex-end;
}



.tp_box_header
{
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tp_box_header p
{
    display: inline;
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Climate Crisis', cursive;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 300;
    background-color: white;
}

.tp_divider
{
    margin-top: 10px;
    border-top: 0.75px dashed;
    margin-bottom: 10px;
}

.tp_quote h4 
{
    /* 
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    font-weight: 600;
    font-style: italic; 
    */

    font-family: 'Gloock', serif;
    font-weight: 100;
    font-size: 1em;
    font-style: italic; 
   
    color: #202020;
}

.tp_quote_author
{
    width: 80%;
    margin-left: 20%; 

    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;

    text-align: right;
}

.tp_quote h6,
.tp_quote h5
{
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    margin-bottom: 0;
}

.tp_quote h5
{
    font-size: 1em;
    font-weight: bold;
}
.tp_quote h6
{
    font-size: 0.9em;
}

.tp_text
{
    font-family: 'Playfair Display', serif;
    font-size: 0.9em;
    font-weight: 400;
}


footer
{
    padding: 15px;
    width: 100%;
    background-color: rgb(245, 245, 245);
}






.animated {
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
 
@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
}
 
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}
 
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
} 




